#boards {
  display: flex;
  background-color: whitesmoke;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.board {
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  width: 280px;
  padding: 10px;
  height: 450px;
  overflow-y: auto;
}
