#boards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.board {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 230px;
  padding: 10px;
  height: 450px;
  overflow-y: auto;
}

.ticket {
  background-color: white;
  color: darkslategray;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px darkslategray solid;
  cursor: pointer;
}

.ticket.dragging {
  opacity: 0.5;
}